<!DOCTYPE html>
<html lang="ca" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Proiect</title>
<link rel="shortcut icon" href="">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}">
<link href="/css/full.css" rel="stylesheet">
<style>
body {
	padding-top: 100px;
	padding-bottom: 100px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>

<!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom"
		role="navigation" th:fragment="navbar">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"><img
					style="max-width: 40px; margin-top: -7px;" src="/images/icein.png"></a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li th:classappend="${menu=='home'}?active"><a
						href="/home.html" th:href="@{/}">Home</a></li>
					<li th:classappend="${menu=='where'}?active"><a
						href="/where.html" th:href="@{/where}">Where</a></li>
					<li th:classappend="${menu=='about'}?active"><a
						href="/about.html" th:href="@{/about}">About</a></li>
				</ul>
				<!-- Login -->
				<form sec:authorize="isAuthenticated()" class="navbar-form pull-right" action="/logout" th:action="@{/logout}" method="post">							   					    
					<button class="btn btn-primary navbar-btn">Logout</button>
				</form>				
				<ul class="nav navbar-nav navbar-right">
					<li th:classappend="${menu=='basket'}?active"><a
						href="/basket.html" th:href="@{/basket}"><span
							class="glyphicon glyphicon-shopping-cart"></span></a></li>
					<li th:classappend="${menu=='login'}?active"
						sec:authorize="!isAuthenticated()">
						<a href="/login.html" th:href="@{/login}">Login</a></li>
					<li sec:authorize="isAuthenticated()">
						<a href="/account.html" th:href="@{/profile}" sec:authentication="name">username</a>
					</li>
				</ul>					
			</div>
			<!--.nav-collapse -->
		</div>
	</nav>

	<footer class="row-footer" th:fragment="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<p style="padding: 10px;"></p>
					<p align=center>© Copyright 2017 Moldovan Alina</p>
				</div>
			</div>
		</div>
	</footer>
	
	<th:block th:fragment="script">
	 	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"
			th:src="@{/webjars/jquery/1.12.3/jquery.min.js}"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </th:block>
</body>
</html>
