<!DOCTYPE html>
<html lang="ca" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ice Invaders</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="/css/full.css" rel="stylesheet">
    <style>body{padding-top:50px;}.starter-template{padding:40px 15px;text-align:center;}</style>

    <!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom" role="navigation" th:replace="fragments/header :: navbar (menu='about')">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}"><img style="max-width:40px; margin-top: -7px;"
             src="/images/icein.png"></a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                     <li><a href="/home.html" th:href="@{/}">Home</a></li>
                    <li><a href="/where.html" th:href="@{/where}">Where</a></li>
                    <li class="active"><a href="/about.html" th:href="@{/about}">About</a></li>              
                </ul>
                <!-- Search --> 
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- Login -->
                <ul class="nav navbar-nav navbar-right">
            <li th:if="${#authorization.expression('!isAuthenticated()')}">
              <a href="/login.html" th:href="@{/login}">Login</a>
            </li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">            
    			<form action="/logout" th:action="@{/logout}" method="post">
        		<button class="btn btn-default navbar-btn">Logout</button>
    			</form>
			</li>                        
            <li><a href="/basket.html" th:href="@{/basket}"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>  
          </ul>
            </div><!--.nav-collapse -->
        </div>
    </nav>
    
    <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-8">
             <p style="padding:20px;"></p>
         </div>
       </div>
    </div>
    
    <footer th:replace="fragments/header :: footer"></footer>

	<div th:replace="fragments/header :: script" th:remove="tag"> 	
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </div>
</body>
</html>
