<!DOCTYPE html>
<html lang="ca" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Account</title>
<link rel="shortcut icon" href="">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link href="/css/full.css" rel="stylesheet">
<style>
body {
	padding-top: 50px;
}
</style>

<!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom"
		role="navigation"
		th:replace="fragments/header :: navbar (menu='login')">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"><img
					style="max-width: 40px; margin-top: -7px;" src="/images/icein.png"></a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/home.html" th:href="@{/}">Home</a></li>
                    <li><a href="/where.html" th:href="@{/where}">Where</a></li>
					<li><a href="/about.html" th:href="@{/about}">About</a></li>
				</ul>
				<!-- Search -->
				<!-- Login -->
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${#authorization.expression('!isAuthenticated()')}">
						<a href="/login.html" th:href="@{/login}">Login</a>
					</li>
					<li th:if="${#authorization.expression('isAuthenticated()')}">
						<form action="/logout" th:action="@{/logout}" method="post">
							<button class="btn btn-default navbar-btn">Logout</button>
						</form>
					</li>
					<li><a href="/basket.html" th:href="@{/basket}"><span
							class="glyphicon glyphicon-shopping-cart"></span></a></li>
				</ul>
			</div>
			<!--.nav-collapse -->
		</div>
	</nav>

<!-- Contingut -->
<hr>
<div class="container">
	<div class="row">
  		<div class="col-sm-10"><h1 th:text="${username}"></h1></div>
    	<div class="col-sm-2">
    		<div class="row"><a href="/profile" >
    		<img id="profile" title="profile image" class="img-circle img-responsive" src="profile/image"
    		     width="200px" height="200px"></a>
    		</div><div class="row">
    		<label class="btn btn-primary btn-file btn-block">
    			Change picture <input type="file" name="icon" id="icon" form="registrationForm"
    			th:field="${localUser.icon}" style="display: none;">
			</label>
			</div>
		</div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
              <li class="list-group-item text-muted">Profile</li>
              <li><button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i><a th:href="${ '/deleteAccount/' + user2.id}">Delete Account</a></button></li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>Created</strong></span><span th:text="${#dates.format(user2.dataCreated, 'dd-MMM-yyyy')}"></span></li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>Last visit</strong></span> Yesterday</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>Name</strong></span><span th:text="${localUser.firstName} + ' ' + ${localUser.lastName}"></span></li>
          </ul>
               
        </div><!--/col-3-->
        
    	<div class="col-sm-9">
          
          <ul class="nav nav-tabs" id="myTab">            
            <li class="active"><a href="#settings" data-toggle="tab">Personal informations</a></li>
            <li><a href="#messages" data-toggle="tab">Todo</a></li>
          </ul>
          <div class="tab-content">                                         
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <ul class="list-group">
                  <li class="list-group-item text-muted">Todo</li>
                   <!-- Repetir -->
                  <!--<li class="list-group-item text-right" th:each="comanda : ${comandes}">
                      <a href="/usuari/comanda" th:href="@{|/usuari/comanda?id=${comanda.id}|}" 
                         class="pull-left" th:text="${comanda.id}">Comanda id..</a> 
                      <span th:text="${#dates.format(comanda.dia, 'dd MMM yyyy')}">15/4/2017</span>
                  </li>-->
                   <!-- /Repetir -->
                </ul> 
               
             </div><!--/tab-pane-->
             <div class="tab-pane active" id="settings">
            		               	
                  <hr>
                  <form class="form" action="" th:action="@{/profile}" th:object="${localUser}" method="post" id="registrationForm"
                  enctype="multipart/form-data"> 
                      <input type="hidden" name="username" id="username" th:field="*{username}">
                      <div class="form-group">                          
                          <div class="col-xs-6">
                              <label for="firstName"><h4>First Name</h4></label>
                              <input type="text" class="form-control" name="firstName" id="firstName"
                                     placeholder="First name" title="Enter your first name"
                                     th:field="*{firstName}">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="lastName"><h4>Last Name</h4></label>
                              <input type="text" class="form-control" name="lastName" id="lastName"
                                     placeholder="Last name" title="Enter your last name"
                                     th:field="*{lastName}">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="telefon"><h4>Phone number</h4></label>
                              <input type="text" class="form-control" name="telefon" id="telefon"
                                     placeholder="Phone number" title="Enter your phone number" th:field="*{telefon}">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" 
                                     placeholder="email ..." title="Enter your email address" th:value="*{email}">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="address"><h4>Address</h4></label>
                              <input type="text" class="form-control" name="address" id="address"
                                     placeholder="address ..." title="Enter your address" th:value="*{address}">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="country"><h4>Country</h4></label>
                              <input type="text" class="form-control" name="country" id="country"
                                     placeholder="country" title="Enter your country" th:value="*{country}">
                          </div>
                      </div>
                      <div class="col-xs-6">
                          <label for="affiliation"><h4>Affiliation</h4></label>
                          <input type="text" class="form-control" name="affiliation" id="affiliation"
                                 placeholder="Affiliation" title="Affiliation" th:value="*{affiliation}">
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="ocupation"><h4>Ocupation</h4></label>
                              <input type="text" class="form-control" name="ocupation" id="ocupation"
                                     placeholder="Ocupation" title="Ocupation" th:value="*{ocupation}">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password"
                                     placeholder="password" title="Enter your password"
                                     th:value="*{password}" required>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="repeatPassword"><h4>Repeat password</h4></label>
                              <input type="password" class="form-control" name="repeatPassword" id="repeatPassword"
                                     placeholder="repeatPassword" title="Repeat password"
                                     th:value="*{repeatPassword}" required>
                          </div>
                      </div>
                      <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger">
                      	    Password error
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Submit</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
    </div>
    
<!-- /Contingut -->

	<footer th:replace="fragments/header :: footer"></footer>

	<div th:replace="fragments/header :: script" th:remove="tag"> 	
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </div>
    <script src="/js/icon.js"></script>
</body>
</html>
