<!DOCTYPE html>
<html lang="ca" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register Admin</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="/css/full.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <!--[if IE]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script>
        $(".js-example-basic-multiple").select2();
    </script>
    <![endif]-->
</head>

<body>
<div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom"
     role="navigation"
     th:replace="fragments/header :: navbar (menu='login')">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"><img
                    style="max-width: 40px; margin-top: -7px;" src="/images/icein.png"></a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home.html" th:href="@{/}">Home</a></li>
                <li><a href="/where.html" th:href="@{/where}">Where</a></li>
                <li><a href="/about.html" th:href="@{/about}">About</a></li>
            </ul>
            <!-- Search -->
            <!-- Login -->
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login.html" th:href="@{/login}">Login</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <form action="/logout" th:action="@{/logout}" method="post">
                        <button class="btn btn-default navbar-btn">Logout</button>
                    </form>
                </li>
                <li><a href="/basket.html" th:href="@{/basket}"><span
                        class="glyphicon glyphicon-shopping-cart"></span></a></li>
            </ul>
        </div>
        <!--.nav-collapse -->
    </div>
</nav>

<!-- Contingut -->
<hr>
<div class="container">
    <div class="row"><!--th:object="${conference}" th:with="id=${conference.id}"-->
        <div class="col-sm-10" ><h1>New conference</h1></div>
        <div class="col-sm-9" >
            <div class="tab-content">
                <hr>
                <form class="form" action="#" enctype="multipart/form-data" th:action="@{/createSubmission/} + ${id}" th:object="${proposal}" method="post" id="conferenceForm">
                    <div class="form-group">
                        <label for="name"><h4>ID</h4></label>
                        <p class="form-control" name="id" id="id"
                               placeholder="id" title="id">${proposal.id}
                        </p>

                    </div>
                    <div class="form-group">
                        <label for="name"><h4>Name</h4></label>
                        <input type="text" class="form-control" name="name" id="name"
                               placeholder="name" title="name"
                               th:field="*{name}" required>


                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger">
                            Name Error
                        </div>
                    </div>
                    <th:set var="descriptionError">
                        <th:errors path="description"/>
                    </th:set>
                    <div class="form-group${not empty descriptionError ? ' has-danger' : ''}">
                        <div class="col-xs-6">
                            <label for="description">Description</label>
                            <textarea rows="5" type="text" required class="form-control" id="description" title="description" th:field="*{description}"/>
                            <div th:if="${descriptionError!= null}">
                                <div class="form-control-feedback"><p>${descriptionError}</p></div>
                            </div>
                        </div>
                    </div>

                    <th:set var="abstractTextError">
                        <th:errors path="abstractText"/>
                    </th:set>
                    <div class="form-group${not empty abstractTextError ? ' has-danger' : ''}">
                        <div class="col-xs-6">
                            <label for="abstractText">Abstract</label>
                            <textarea type="text" rows="5" required class="form-control" id="abstractText" title="abstractText" th:field="*{abstractText}"/>
                            <div th:if="${abstractTextError!=null}">
                                <div class="form-control-feedback">${abstractTextError}</div>
                            </div>
                        </div>
                    </div>

                  <!--  <th:set var="beginSubmissionsError">
                        <th:errors path="beginSubmissions"/>
                    </th:set>
                    <div class="form-group${not empty beginSubmissionsError ? ' has-danger' : ''}">
                        <div class="col-xs-6">
                            <label for="beginSubmissions">Begin Submissions</label>
                            <input type="datetime-local" required class="form-control" id="beginSubmissions" title="beginSubmissions" th:field="*{beginSubmissions}"/>
                            <div th:if="${beginSubmissionsError!=null}">
                                <div class="form-control-feedback">${beginSubmissionsError}</div>
                            </div>
                        </div>
                    </div>-->
                    <th:set var="keywordsError">
                        <th:errors path="keywords"/>
                    </th:set>
                    <div class="form-group${not empty keywordsError ? ' has-danger' : ''}">
                        <div class="col-xs-6">
                            <label for="keywords">Keywords</label>
                            <input type="text" required class="form-control" id="keywords" title="keywords" th:field="*{keywords}"/>
                            <div th:if="${keywordsError!=null}">
                                <div class="form-control-feedback">${keywordsError}</div>
                            </div>
                        </div>
                    </div>
                    <br/><br/>
                    <th:set var="topicsError">
                        <th:errors path="topics"/>
                    </th:set>
                    <div class="form-group${not empty topicsError ? ' has-danger' : ''}">
                        <label>Topics</label>
                        <select class="form-control"  id="dropOperator"  th:field="*{topic}">
                            <option th:each="topic : ${topics}" th:value="${topic.name}" th:text="${topic.name}" ></option>
                        </select>
                        <div th:if="${topic!=null}">
                            <div class="form-control-feedback">${topicsError}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input path="file" class="form-control" placeholder="Incarcare fisier" type="file" th:field="*{file}"/>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Submit</button>
                            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                        </div>
                    </div>
                </form>


            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>

<!-- /Contingut -->

<footer th:replace="fragments/header :: footer"></footer>

<div th:replace="fragments/header :: script" th:remove="tag">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('input[type=datetime-local]').val(new Date().toJSON().slice(0,16));
        });
    </script>

</div>
</body>
</html>
