<!DOCTYPE html>
<html lang="ca" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register author</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="/css/full.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <!--[if IE]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom"
     role="navigation"
     th:replace="fragments/header :: navbar (menu='login')">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"><img
                    style="max-width: 40px; margin-top: -7px;" src="/images/icein.png"></a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home.html" th:href="@{/}">Home</a></li>
                <li><a href="/where.html" th:href="@{/where}">Where</a></li>
                <li><a href="/about.html" th:href="@{/about}">About</a></li>
            </ul>
            <!-- Search -->
            <!-- Login -->
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login.html" th:href="@{/login}">Login</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <form action="/logout" th:action="@{/logout}" method="post">
                        <button class="btn btn-default navbar-btn">Logout</button>
                    </form>
                </li>
                <li><a href="/basket.html" th:href="@{/basket}"><span
                        class="glyphicon glyphicon-shopping-cart"></span></a></li>
            </ul>
        </div>
        <!--.nav-collapse -->
    </div>
</nav>

<!-- Contingut -->
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-10"><h1>New user</h1></div>
        <div class="col-sm-2">
            <a href="/" class="pull-right"><img title="ice" class="img-responsive" src="images/tux.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->

            <img title="ice invaders" class="img-circle img-responsive" src="images/invader.jpg">

        </div><!--/col-3-->

        <div class="col-sm-9">

            <div class="tab-content">
                <hr>
                <form class="form" action="/register-author" th:action="@{/register-author}" th:object="${user}" method="post" id="registrationForm">
                    <div class="form-group">
                        <label for="username"><h4>username</h4></label>
                        <input type="text" class="form-control" name="username" id="username"
                               placeholder="username" title="username"
                               th:field="*{username}" required>
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger">
                            Username Error
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="password"><h4>password</h4></label>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="password" title="password"
                                   th:field="*{password}" required>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="repeatPassword"><h4>repeatPassword</h4></label>
                            <input type="password" class="form-control" name="repeatPassword" id="repeatPassword"
                                   placeholder="repeatPassword" title="repeatPassword"
                                   th:field="*{repeatPassword}" required>
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger">
                        Contrasenya Error
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="firstName"><h4>firstName</h4></label>
                            <input type="text" class="form-control" name="firstName" id="firstName"
                                   placeholder="firstName" title="firstName"
                                   th:field="*{firstName}" >
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="lastName"><h4>lastName</h4></label>
                            <input type="text" class="form-control" name="lastName" id="lastName"
                                   placeholder="lastName" title="lastName"
                                   th:field="*{lastName}">
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="telefon"><h4>telefon</h4></label>
                            <input type="text" class="form-control" name="telefon" id="telefon"
                                   placeholder="telefon..." title="telefon" th:field="*{telefon}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="email"><h4>Email</h4></label>
                            <input type="email" class="form-control" name="email" id="email"
                                   placeholder="email ..." title="email" th:value="*{email}"
                                   required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="address"><h4>address</h4></label>
                            <input type="text" class="form-control" name="address" id="address"
                                   placeholder="address" title="address" th:value="*{address}">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <label for="affiliation"><h4>Affiliation</h4></label>
                        <input type="text" class="form-control" name="affiliation" id="affiliation"
                               placeholder="Affiliation" title="Affiliation" th:value="*{affiliation}">
                    </div>


            <div class="form-group">

                <div class="col-xs-6">
                    <label for="ocupation"><h4>Ocupation</h4></label>
                    <input type="text" class="form-control" name="ocupation" id="ocupation"
                           placeholder="Ocupation" title="Ocupation" th:value="*{ocupation}">
                </div>
            </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="country"><h4>country</h4></label>
                            <input type="text" class="form-control" name="country" id="country"
                                   placeholder="country" title="country" th:value="*{country}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Submit</button>
                            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                        </div>
                    </div>
                </form>


            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>

<!-- /Contingut -->

<footer th:replace="fragments/header :: footer"></footer>

<div th:replace="fragments/header :: script" th:remove="tag">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</div>
</body>
</html>
