<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <h2>Forgot your password ? You can reset... </h2>
    <form role="form" th:action="@{/reset-password}" method="POST"  class="col-lg-6" >
        <span th:utext="${successMessage}" class="successMessage"></span><br>

        <div class="row">
            <div class="form-group">

                <label for="password" class="form-group col-md-3 ">
                    Enter your new pasword:
                </label>
                <input type="hidden" id="code" name="code"  th:value="${code}"/>
                <input type="password" class="form-control col-md-6 " id="password" name="password" placeholder="Please enter new password" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <label for="password2" class="form-group col-md-3 ">
                    Enter your password again:
                </label>
                <input type="password" class="form-control col-md-6 " id="password2" name="password2" placeholder="Enter it again" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <div align="center">
                    <p style="font-size: 20px; color: #FF1C19;"><span th:utext="${errorMessage}"></span></p>
                </div>
            </div>
        </div>


        <div class="row">
            <button type="submit" class="btn btn-warning btn-primary col-md-3 col-md-offset-3">
                Update Password
            </button>

            <a th:href="@{/login}" class="btn btn-md btn-primary col-md-3  col-md-offset-1" >Login</a>
        </div>

    </form>


</div>
</body>
</html>