<!DOCTYPE html>
<html lang="ca" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register Admin</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="/css/full.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <!--[if IE]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom"
     role="navigation"
     th:replace="fragments/header :: navbar (menu='login')">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"><img
                    style="max-width: 40px; margin-top: -7px;" src="/images/icein.png"></a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home.html" th:href="@{/}">Home</a></li>
                <li><a href="/where.html" th:href="@{/where}">Where</a></li>
                <li><a href="/about.html" th:href="@{/about}">About</a></li>
            </ul>
            <!-- Search -->
            <!-- Login -->
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login.html" th:href="@{/login}">Login</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <form action="/logout" th:action="@{/logout}" method="post">
                        <button class="btn btn-default navbar-btn">Logout</button>
                    </form>
                </li>
                <li><a href="/basket.html" th:href="@{/basket}"><span
                        class="glyphicon glyphicon-shopping-cart"></span></a></li>
            </ul>
        </div>
        <!--.nav-collapse -->
    </div>
</nav>

<!-- Contingut -->
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-10"><h1>New conference</h1></div>
        <div class="col-sm-9">
            <div class="tab-content">
                <hr>
                <form class="form" action="/createConference" th:action="@{/admin/update/}" th:object="${conference}" method="post" id="conferenceForm">


                    <div class="form-group">
                        <label for="name"><h4>Name</h4></label>
                        <input type="text" class="form-control" name="name" id="name"
                               placeholder="name" title="name"
                               th:field="*{name}" required>


                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger">
                            Name Error
                        </div>
                    </div>
                    <th:set var="beginDateError">
                        <th:errors path="beginDate"/>
                    </th:set>
                    <div class="form-group${not empty beginDateError ? ' has-danger' : ''}">
                        <div class="col-xs-6">
                            <label for="beginDate">Begin date</label>
                            <input type="datetime-local" required class="form-control" id="beginDate" title="beginDate" th:field="*{beginDate}"/>
                            <div th:if="${beginDateError!= null}">
                                <div class="form-control-feedback"><p>${beginDateError}</p></div>
                            </div>
                        </div>
                    </div>

                    <th:set var="endDateError">
                        <th:errors path="endDate"/>
                    </th:set>
                    <div class="form-group${not empty endDateError ? ' has-danger' : ''}">
                        <div class="col-xs-6">
                            <label for="endDate">End date</label>
                            <input type="datetime-local" required class="form-control" id="endDate" title="endDate" th:field="*{endDate}"/>
                            <div th:if="${endDateError!=null}">
                                <div class="form-control-feedback">${endDateError}</div>
                            </div>
                        </div>
                    </div>

                    <th:set var="beginSubmissionsError">
                        <th:errors path="beginSubmissions"/>
                    </th:set>
                    <div class="form-group${not empty beginSubmissionsError ? ' has-danger' : ''}">
                        <div class="col-xs-6">
                            <label for="beginSubmissions">Begin Submissions</label>
                            <input type="datetime-local" required class="form-control" id="beginSubmissions" title="beginSubmissions" th:field="*{beginSubmissions}"/>
                            <div th:if="${beginSubmissionsError!=null}">
                                <div class="form-control-feedback">${beginSubmissionsError}</div>
                            </div>
                        </div>
                    </div>
                    <th:set var="endSubmissionsError">
                        <th:errors path="endSubmissions"/>
                    </th:set>
                    <div class="form-group${not empty endSubmissionsError ? ' has-danger' : ''}">
                        <div class="col-xs-6">
                            <label for="endSubmissions">End Submissions</label>
                            <input type="datetime-local" required class="form-control" id="endSubmissions" title="endSubmissions" th:field="*{endSubmissions}"/>
                            <div th:if="${beginSubmissionsError!=null}">
                                <div class="form-control-feedback">${endSubmissionsError}</div>
                            </div>
                        </div>
                    </div>

                    <th:set var="endReviewError">
                        <th:errors path="endReview"/>
                    </th:set>
                    <div class="form-group${not empty endReviewError ? ' has-danger' : ''}">
                        <div class="col-xs-6">
                            <label for="endReview">End Review</label>
                            <input type="datetime-local" required class="form-control" id="endReview" title="endReview" th:field="*{endReview}"/>
                            <div th:if="${endReviewError!=null}">
                                <div class="form-control-feedback">${endReviewError}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Submit</button>
                            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                        </div>
                    </div>
                </form>


            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>

<!-- /Contingut -->

<footer th:replace="fragments/header :: footer"></footer>

<div th:replace="fragments/header :: script" th:remove="tag">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('input[type=datetime-local]').val(new Date().toJSON().slice(0,16));
        });
    </script>

</div>
</body>
</html>
