<!DOCTYPE html>
<html lang="ca" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register author</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="/css/full.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <!--[if IE]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script>
        $(document).ready(function(){
            $('input[type=datetime-local]').val(new Date().toJSON().slice(0,16));
        });
    </script>
    <![endif]-->
</head>

<body>
<div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom"
     role="navigation"
     th:replace="fragments/header :: navbar (menu='login')">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"><img
                    style="max-width: 40px; margin-top: -7px;" src="/images/icein.png"></a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home.html" th:href="@{/}">Home</a></li>
                <li><a href="/where.html" th:href="@{/where}">Where</a></li>
                <li><a href="/about.html" th:href="@{/about}">About</a></li>
            </ul>
            <!-- Search -->
            <!-- Login -->
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login.html" th:href="@{/login}">Login</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <form action="/logout" th:action="@{/logout}" method="post">
                        <button class="btn btn-default navbar-btn">Logout</button>
                    </form>
                </li>
                <li><a href="/basket.html" th:href="@{/basket}"><span
                        class="glyphicon glyphicon-shopping-cart"></span></a></li>
            </ul>
        </div>
        <!--.nav-collapse -->
    </div>
</nav>

<!-- Contingut -->
<hr>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Conference Details</h2>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${conference.id}"></p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${conference.name}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Begin Date</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${#dates.format(conference.beginDate.time, 'd/M/y HH:mm')}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">End Date</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${#dates.format(conference.endDate.time, 'd/M/y HH:mm')}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Begin Submissions</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${#dates.format(conference.beginSubmissions.time, 'd/M/y HH:mm')}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">End Submissions</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${#dates.format(conference.endSubmissions.time, 'd/M/y HH:mm')}"></p>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- /Contingut -->

<footer th:replace="fragments/header :: footer"></footer>

<div th:replace="fragments/header :: script" th:remove="tag">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</div>
</body>
</html>
