<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Where</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href="/css/full.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <!--[if IE]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom"
     role="navigation"
     th:replace="fragments/header :: navbar (menu='home')">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"><img
                    style="max-width: 40px; margin-top: -7px;" src="/images/icein.png"></a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home.html" th:href="@{/}">Home</a></li>
                <li><a href="/where.html" th:href="@{/where}">Where</a></li>
                <li><a href="/about.html" th:href="@{/about}">About</a></li>
            </ul>
            <!-- Login -->
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login.html" th:href="@{/login}">Login</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <form action="/logout" th:action="@{/logout}" method="post">
                        <button class="btn btn-primary navbar-btn">Logout</button>
                    </form>
                </li>
                <li><a href="/basket.html" th:href="@{/basket}"><span
                        class="glyphicon glyphicon-shopping-cart"></span></a></li>
            </ul>
        </div>
        <!--.nav-collapse -->
    </div>
</nav>

<div id="map" style="width:400px;height:400px;background:yellow"></div>

<script>
    function myMap() {
        var latlng = google.maps.LatLng(44.7712, 26.6236);
        var mapOptions = {

            center: new google.maps.LatLng(46.7712, 23.6236),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"Where you can find me "
        });

    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6BpgXySGzX6iEWqeUoocmaD8tD2tiZT4&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->
<footer th:replace="fragments/header :: footer"></footer>

<div th:replace="fragments/header :: script" th:remove="tag">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</div>

</body>
</html>
